@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
*{
    padding:0;
    margin:0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    font-family: Poppins,sans-serif;
}
::-moz-selection { /* Code for Firefox */
    color: white;
    background: #333150;
  }
  
  ::selection {
    color: white;
    background: #333150;
  }
body{
    background-color: #F2F2FF;
}
label.logo{
    color:#333150;
    font-size:45px;
    line-height:100px;
    padding:0 55px;
    font-family: 'Cuprum', sans-serif;
}

nav ul{
    float:right;
    margin-right: 20px;
}
nav ul li{
    display:inline-block;
    font-family: 'Cuprum', sans-serif;
    margin: 0 40px;
    line-height: 100px;
}

nav ul li a{
    font-size: 30px;
    color:#333150;
    padding: 15px 20px;
    border-radius: 20px;
    font-family: 'Cuprum', sans-serif;
}

a:hover{
    background-color:#ffffff;
    transition: .5s;
}
.checkbtn{
    font-size: 50px;
    float:right;
    line-height: 100px;
    margin-right: 50px;
    cursor: pointer;
    display: none;
    color:#333150;
}

#check{
    display:none;
}

@media (max-width : 1314px) {
    label.logo{
        font-size: 35px;
        padding: 45px;
        padding-top: 0px;
    }
    nav ul li a{
        font-size: 25px;
        padding: 20px 25px;
        border-radius: 20px;
    }
}
@media (max-width:1249px) {
    label.logo{
        font-size:45px;
        padding-top: 0px;
    }
    .checkbtn{
        display: block;
      }
      ul{
        position: fixed;
        width: 100%;
        height: 100vh;
        padding-left:50px;
        backdrop-filter: blur(10px);
        top: 80px;
        left: -100%;
        text-align: left;
        transition: all .5s;
      }
      nav ul li{
        display: block;
        margin: 50px 0;
        line-height: 40px;
      }
      nav ul li a{
        font-size: 35px;
      }
      a:hover,a.active{
        background: #ffffff;
        color: #333150;
      }
      #check:checked ~ ul{
        left: 0;
      }
      img{
          align-items: center;
      }
}
.container-fluid{
    padding-top:25px;
}
.element1{
        font-size: 20px;
        display: inline-block;
        border: 1px solid #f1f4f6;
        border-radius: 4rem;
        padding: 7px 25px;
        box-shadow: 0px 7px 25px 0px rgb(22 53 76 / 5%);
        background-color: #fff;
        white-space: nowrap;
}
.heading{
    text-align: left;
    /* padding-left: 100px;
    padding-top: 50px; */
    color:#333150;
    font-size:25px; 
    background-color: #ffffff;
    padding: 15px 20px;
    border-radius: 25px;
    box-shadow: 0px 7px 20px 5px rgb(22 53 76 / 5%);
}
.demo a{
    padding-left: 30px;
}
.demo a:hover{
    padding: 30px;
    background-color: #ffffff;
    border-radius: 15px;
}
.icons:hover{
    color: #416CCE;
    transition: all .1s;
}
img{
    height: 535px;
    width: 536px;
}
  /* Timeline Css*/
  .timeline-section{
	background-color: #F2F2FF;
	min-height: 100vh;
	padding: 100px 15px;
}
.timeline-items{
	max-width: 1000px;
	margin:auto;
	display: flex;
	flex-wrap: wrap;
	position: relative;
}
.timeline-items::before{
	content: '';
	position: absolute;
	width: 2px;
	height: 100%;
	background-color: #4a6788;
	left: calc(50% - 1px);
}
.timeline-item{
	margin-bottom: 40px;
	width: 100%;
	position: relative;
}
.timeline-item:last-child{
	margin-bottom: 0;
}
.timeline-item:nth-child(odd){
    padding-right: calc(50% + 30px);
	text-align: right;
}
.timeline-item:nth-child(even){
    padding-left: calc(50% + 30px);
}
.timeline-dot{
	height: 16px;
	width: 16px;
	background-color: #416CCE;
	position: absolute;
	left: calc(50% - 8px);
	border-radius: 50%;
	top:10px;
}
.timeline-date{
	font-size: 18px;
	color: #416CCE;
	margin:6px 0 15px;
}
.timeline-content{
    background-color: #333150;
	padding: 30px;
	border-radius: 5px;
}
.timeline-content h3{
    font-size: 20px;
	color: #ffffff;
	margin:0 0 10px;
	text-transform: capitalize;
	font-weight: 500;
}
.timeline-content p{
    color: #c8c8c8;
	font-size: 16px;
	font-weight: 300;
	line-height: 22px;
}

/* responsive */
@media(max-width: 767px){
	.timeline-items::before{
		left: 7px;
	}
	.timeline-item:nth-child(odd){
		padding-right: 0;
		text-align: left;
	}
	.timeline-item:nth-child(odd),
	.timeline-item:nth-child(even){
		padding-left: 37px;
	}
	.timeline-dot{
		left:0;
	}
}

/* About me*/
.about{
    display: flex;
    padding-left: 40px;
    text-align: left;
    color:#333150;
    font-size:20px; 
    background-color: #ffffff;
    padding: 15px 20px;
    border-radius: 25px;
    box-shadow: 0px 7px 20px 5px rgb(22 53 76 / 5%);
    align-items: center;
}

/* Skills */
.skill{
    padding-left: 40px;
}
/* Projects*/
.works{
    padding: 40px;
}
#main div {
    flex: 1;
 }
.python{
    height: 254px;
    width:286px;
    
}
.finance{
    height: 254px;
    width:286px;
}

/* Download Resume*/
.download:hover{
    background-color: #ffffff;
    color:#333150;
    transition: all, .5s;
}
.btn:hover{
    background-color: #ffffff;
    color:#333150;
    transition: all, .5s;
}

/* Contact Me*/
.elementor-icon-list-icon i{
    font-size: 20px;

}
.elementor-icon-list-text a{
    text-decoration: none;
    font-size: 20px;
    
}
